<!-- Grid row -->
<div class="row" id="footer-wrapper" >

  <!-- Grid column -->
  <div class="col-md-12 p-0">

    <!--Footer-->
    <footer class="page-footer center-on-small-only pt-0">

      <!--Footer Links-->
      <div class="container">

        <!--Grid row-->
        <div class="row pt-5 mb-3 text-center d-flex justify-content-center">

          <!--Grid column-->
          <div class="col-md-2 mb-3">
            <h6 class="font-weight-bold"><a [routerLink]="[ '/profile' ]" class="text-capitalize">PROFILE</a></h6>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-2 mb-3">
            <h6 class="font-weight-bold"><a [routerLink]="[ '/newsfeed' ]">NEWS FEED</a></h6>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-2 mb-3">
            <h6 class="font-weight-bold"><a [routerLink]="[ '/teams' ]">Teams</a></h6>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-2 mb-3">
            <h6 class="font-weight-bold"><a [routerLink]="[ '/faq' ]">FAQ</a></h6>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <!-- <div class="col-md-2 mb-3">
            <h6 class="font-weight-bold"><a [routerLink]="[ '/auth/login' ]">LOGIN/REGISTER</a></h6>
          </div> -->
          <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr>

        <!--Grid row-->
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

          <!--Grid column-->
          <div class="col-md-8 col-12 mt-5">
            <p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
              doloremque laudantium,
              totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
              vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
              aut fugit, sed quia consequuntur.</p>
          </div>
          <!--Grid column-->
          <br>
        </div>
        <!--Grid row-->

        <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

        <!--Grid row-->
        <div class="row pb-3">

          <!--Grid column-->
          <div class="col-md-12 text-center">

            <div class="footer-socials mb-5 flex-center">
              <!--Facebook-->
              <a href="https://www.facebook.com/ASU.Racing.Team/"><i class="fab fa-facebook fa-2x white-text mr-4"> </i></a>
              <!--Twitter-->
              <a href="https://twitter.com/asuracingteam"><i class="fab fa-twitter fa-2x white-text mx-4"> </i></a>
              <!--Google +-->
              <!-- <a href="#"><i class="fab fa-google-plus fa-2x white-text mx-4"> </i></a> -->
              <!--Linkedin-->
              <a href="https://www.linkedin.com/company/asu-racing-team"><i class="fab fa-linkedin fa-2x white-text mx-4"> </i></a>
              <!--Instagram-->
              <a href="https://www.instagram.com/asu.rt/"><i class="fab fa-instagram fa-2x white-text ml-4"> </i></a>
            </div>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->

      </div>
      <!--/Footer Links-->

      <!--Copyright-->
      <div class="copyright text-center">
        <span>© 2019 Copyright:</span>
        <a href="#"> asurt.com </a>
      </div>
      <!--/Copyright-->

    </footer>
    <!--/Footer-->

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->
