
<div class="row">
  <!-- Team -->
  <div class="col-md-8">

    <div class="card">
      <div class="card-header card-header-info">
          <h2 class="card-title">{{team.name}}</h2>
          <p class="category"> <small>{{team.team_type}}</small> </p>
      </div>
      <div class="card-body">
        <h4>{{team.description}}</h4>
      </div>
      <div class="my-3 cursor-ptr text-center" [routerLink]="['../edit',team.id]">
          <a class="text-primary">Control team</a>
      </div>
    </div>

  </div>
  <!-- Achievements -->
  <div class="col-md-4">

    <div class="card">
      <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon">
          <i class="material-icons">card_membership</i>
        </div>
      </div>
      <div class="card-body">
        <div *ngFor="let achievement of team.achievement; let i = index">
          <div class="card-title">
            <h4>{{achievement.title}}</h4>
          </div>
          <hr *ngIf="i != team.achievement.length-1">
        </div>
      </div>
    </div>

  </div>
</div>
