<h5 class="card-title text-center">Forgot Your Password ?</h5>

<form class="form-forgetpassword" [formGroup]="forgetpasswordForm" (ngSubmit)="onSubmit()">

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" formControlName="email">
    <label for="inputEmail">Email address</label>
  </div>

  <!-- displaying-errors -->
  <div class="text-center" *ngIf="f.email.invalid && 
                                    f.email.touched && 
                                    f.email.errors != null">
    <small class="form-text text-muted">
      <p *ngIf="f.email.errors.required && 
                    f.email.touched">
        Email is Required
      </p>

      <p *ngIf="f.email.errors.pattern && 
                    f.email.touched">
        Please enter a valid email
      </p>
    </small>
  </div> <!-- ./displaying-errors -->

  <button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit" [disabled]="forgetpasswordForm.invalid">Reset
    Password</button>
