<div class="card card-chart">
  <div class="card-header card-header-light p-0">
    <div class="ct-chart" id="dailySalesChart">
      <img src="{{endpoint + card.image[card.image.length-1].image}}" class="rounded" alt="" style="width:100%">
    </div>
  </div>
  <div class="card-body position-relative">
    <div class="control-btns position-absolute">
      <div class="btn btn-success btn-sm btn-round mr-2" *ngIf="card.status">Active</div>
      <button class="btn btn-sm btn-success btn-fab btn-fab-mini btn-round mr-2" [routerLink]="['../edit/',card.id]" routerLinkActive="active" >
          <i class="material-icons">edit</i></button>
      <button class="btn btn-sm btn-danger btn-fab btn-fab-mini btn-round mr-2"
          (click)="delete_event()">
          <i class="material-icons">delete</i></button>
    </div>
    <h4 class="card-title">{{card.name}}</h4>
    <p class="card-category">
      {{card.description}}
    </p>
  </div>
  <div class="card-footer">
    <div class="stats">
      <p>{{card.date}}</p>
    </div>
  </div>
</div>
