<html>
  <head>

      <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  <div >
    <section class="header" >
       <div class="container">
          <div class="row ">
             <div class="col-md-12">
                <h1>
                   FAQ
                </h1>
             </div>
          </div>
       </div>
       <div class="background"   >
       </div>
    </section>
    
</div>


<div class="container">
  <details>
    <summary >
      <h2>What is ASURT ? </h2>
    </summary>
    <p><b>"ASURT" </b> is a student organization founded in 2010 in Faculty of Engineering, Ain Shams University. We are academically supervised by a group of doctors and TAs from the Faculty of Engineering, Ain Shams University</p>
  </details>
  <details>
    <summary>
      <h2>What competitions do we participate in ?</h2>
    </summary>
    <p>We mainly participate in three competitions: <br/>   </p>
      <ul>

     <li> <a href="https://www.shell.com/make-the-future/shell-ecomarathon.html#vanity-aHR0cHM6Ly93d3cuc2hlbGwuY29tL2VuZXJneS1hbmQtaW5ub3ZhdGlvbi9zaGVsbC1lY29tYXJhdGhvbi5odG1s"  target="blank">" Shell Eco-marathon" </a>which is a competition supervised by Shell to manufacture an efficient car with low energy consumption.</li>
      <li><a href="https://www.imeche.org/events/formula-student">" Formula Student UK"</a> which is a competition based in United Kingdom to build a formula car with a low budget.</li>
     <li><a href="https://www.marinetech.org/rov-competition/">"ROV"</a> which is a robotics competition where students compete to build a robot to do a task below sea level.</li> 
   
    </ul>
   
  </details>
  <details >
    <summary>
      <h2>What is Shell Eco-marathon ?</h2>
    </summary>
    <p>Shell Eco-marathon is one of the world’s leading energy efficiency competition programmes. Students are challenged to design, build and test energy-efficient cars, pushing the boundaries of what is technically possible. Students take their designs to the track in the Mileage Challenge to see which vehicle can compete to go the farthest on the least amount of fuel. The Drivers’ World Championship sees winners from the Mileage Challenge marry the efficiency of their vehicles with the speed and skills of their driver to find the fastest energy-efficient driver.</p>
  </details>
  <details>
    <summary>
      <h2>What is Formula Student UK ? </h2>
    </summary>
    <p>
        A competition that's based in the United Kingdom that it's goal is to build a formula car with a low budget, Formula Student is Europe's most established educational motorsport competition, run by the Institution of Mechanical Engineers. Backed by industry and high profile engineers such as Patron Ross Brawn OBE. The competition aims to inspire and develop enterprising and innovative young engineers.</p>
  </details>

  <details>
      <summary>
        <h2>What is Rov ? </h2>
      </summary>
      <p>The MATE competition challenges students from all over the world to design and build ROVs to tackle missions modeled after scenarios from the ocean workplace. The competition’s class structure of beginner, intermediate, and advanced complements the education pipeline by providing students with the opportunity to build upon their skills – and the application of those skills – as they engineer increasingly more complex ROVs for increasingly more complex mission tasks.</p>
    </details>
    <details>
    <summary>
        <h2> What is the difference between Urban and Prototype ?</h2>
      </summary>
      <p>
          Prototype is about manufacturing a car with the most efficient energy consumption, regardless of the design and body shape. For Urban category, body and design are important & must be taken into consideration through the manufacturing phase.</p>
    </details>

    <details>
        <summary>
            <h2> How can I join ASURT ?</h2>
          </summary>
          <p>You can follow our "Facebook fan page" and you will find the recruiting campaigns details.</p>
        </details>

        <details>
            <summary>
                <h2> Who can travel abroad to competitions with the teams ?</h2>
              </summary>
              <p>Mainly, members who have job descriptions in the competition can travel with the teams from both technical and non-technical departments.</p>
            </details>

            <details>
                <summary>
                    <h2> What is the SEMulation event ?</h2>
                  </summary>
                  <p>SEMulation event is an event that is totally organized by ASURT inside Faculty of Engineering Ain Shams University and is a small local version SEMulation of the real competition organized by Shell which local teams can join to start testing their cars.</p>
                </details>

  </div>
  


  









</body>
</html>
