<h5 class="card-title text-center">Change Password</h5>
<form class="form-signin" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password1">
    <label for="inputPassword">Password</label>
    <!-- displaying-errors -->
    <div class="text-center" *ngIf="f.password1.invalid && 
                                    f.password1.touched && 
                                    f.password1.errors != null">
      <small class="form-text text-muted">
        <p *ngIf="f.password1.errors.required && 
                  f.password1.touched">
          Password is Required
        </p>

        <p *ngIf="( f.password1.errors.minlength || 
                    f.password1.errors.maxlength ) && 
                    f.password1.touched">
          Your password must be 8-16 long
        </p>
      </small>
    </div> <!-- ./displaying-errors -->
  </div>

  <div class="form-label-group">
    <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" formControlName="password2">
    <label for="inputConfirmPassword">Confirm password</label>
    <!-- displaying-errors -->
    <div class="text-center" *ngIf="f.password2.invalid && 
                                      f.password2.touched && 
                                      f.password2.errors != null">
      <small class="form-text text-muted">
        <p *ngIf="f.password2.errors.required && 
                    f.password2.touched">
          Password is Required
        </p>

        <p *ngIf="( f.password2.errors.minlength || 
                      f.password2.errors.maxlength ) && 
                      f.password2.touched">
          Your password must be 8-16 long
        </p>

        <p *ngIf="f.password2.errors.passwordMatch && 
                    f.password2.touched">
          Password does not match
        </p>
      </small>
    </div> <!-- ./displaying-errors -->
  </div>

  <button class="btn btn-lg btn-dark btn-block text-uppercase" type="submit" [disabled]="changePasswordForm.invalid">
    Submit
  </button>
</form>
