<html>

<head>

   <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body>
   <div>
      <section class="header">
         <div class="container">
            <div class="row ">
               <div class="col-md-12" [ngsReveal]="{ reset: true}">
                  <h1>
                     About Us
                  </h1>
               </div>
            </div>
         </div>
         <div class="background" style="background-color:#3b0000">
         </div>
      </section>


      <section class="about-us-section">
         <div class="container">
            <div class="row justify-content-center">

               <div class="col-11 col-md-8" [ngsReveal]="{ reset: true}">
                  <h2>
                     WHO WE ARE ?
                  </h2>
                  <div class="red-border">
                  </div>
                  <p class="description">
                     <b> “ASU Racing Team” </b>is a student organization founded in 2010, in the faculty of Engineering,
                     Ain Shams University. It consists of a group of dedicated undergraduate engineering students aiming
                     to revive the research in Egypt especially in the automotive technology, not only by theorizing but
                     also by apply the theory in real life by building cars and robots. Academically supervised by a
                     group of doctors and TAs from the faculty of Engineering, Ain Shams University.
                  </p>
               </div>
               <div class="col-11 col-md-8" [ngsReveal]="{ reset: true}">
                  <h2>
                     WHAT WE DO ?
                  </h2>
                  <div class="red-border">
                  </div>
                  <p class="description">
                     We mainly participate in 3 major international competitions using cars, prototypes and robots that
                     we design and manufacture inside faculty premises.
                  </p>
               </div>

               <div class="col-11 col-md-8" [ngsReveal]="{ reset: true}">
                  <h2>
                     OUR MISSION
                  </h2>
                  <div class="red-border">
                  </div>
                  <p class="description">
                     To establish an advanced Egyptian research entity with divisions concerned with Automotive
                     Engineering and Mobile Robotics. - With 90% of our car MADE IN EGYPT, designed and manufactured by
                     undergraduate engineering students, we are trying to deliver a message that Egyptian youth has the
                     capabilities and creativity required to lead and innovate! All we need is a little push. (And we
                     may add a foot pressing the gas paddle after this last line. However, you may find it cheesy)
                     <p>
               </div>

               <div class="col-11 col-md-8" [ngsReveal]="{ reset: true}">
                  <h2>
                     OUR VISION
                  </h2>
                  <div class="red-border">
                  </div>
                  <p class="description">

                     Our main vision to keep up with the fast growing innovation in automotive technology worldwide by:
                     researching, learning and applying this knowledge on ground to revive the automotive industry in
                     Egypt.
                     <p>
               </div>

               <h2 [ngsReveal]="{ reset: true}">
                  WHY WE ARE UNIQUE FROM ANOTHER STUDENT ACTIVITES
               </h2>
               <div class="col-11 col-md-8" [ngsReveal]="{ reset: true}">
                  <div class="red-border">
                  </div>
                  <p class="description">

                     Alongside the academic value we try to offer our engineering students, ASU racing Team is an
                     organization that has a physical product that the students make from A to Z.
                     <p>
               </div>
            </div>

         </div>
      </section>

   </div>

</body>

</html>
<br>
<br>
