<div class="row">
  <div class="col-12">

    <!-- card -->
    <div class="card card-transparent">
      <!-- header -->
      <div class="card-header card-header-tabs card-header-primary">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <span class="nav-tabs-title">Events:</span>
            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="nav-item">
                <a class="nav-link show" data-toggle="tab"
                    [routerLink]="['./']"
                    [queryParams]="{ filter: 'all' }"
                    routerLinkActive="active">
                  <i class="material-icons">list</i> All
                  <div class="ripple-container"></div>
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab"
                    [routerLink]="['./']"
                    [queryParams]="{ filter: 'active' }"
                    routerLinkActive="active">
                  <i class="material-icons">bookmark</i> Active
                  <div class="ripple-container"></div>
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab"
                    [routerLink]="['./create']"
                    routerLinkActive="active">
                  <i class="material-icons">create</i> New
                  <div class="ripple-container"></div>
                  <div class="ripple-container"></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ./header -->
      <!-- body -->
      <div class="card-body">
        <!-- tab-content -->
        <div class="tab-content">
          <router-outlet></router-outlet>
        </div>
        <!-- ./tab-content -->
      </div>
      <!-- ./body -->
    </div>
    <!-- ./card -->

  </div>
</div>
