/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "https://use.fontawesome.com/releases/v5.7.2/css/all.css";

#toast-container>div {
  opacity: 1;
}

.btn-danger {
  color: #fff;
  background-color: #b21908;
  border-color: #b21908;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 999;
}
