<section  class=" py-5">
    <div class="  container py-5">
        <div class="row ">
            <div class="col-lg-6 col-md-12 text-center" [ngsReveal]="{ reset: true}">
                <img src="{{endpoint + event.image[event.image.length-1].image}}" class=" img-fluid mb-3 ">
                <p class="text-center">{{event.date}}</p>
            </div>
            <div class="col-lg-6 col-md-12 py-2 " [ngsReveal]="{ reset: true}">
                <h3>{{event.name | uppercase}}</h3>
                <hr>
                <p>{{event.event_type}}</p>
                <p>{{event.description}}</p>
            </div>
        </div>

        <!-- <div class="counter align-bottom" *ngIf="event_date != null" [ngsReveal]="{ reset: true}"  >
            <countdown-timer [inputDate]="event_date"></countdown-timer>
        </div> -->
    </div>
  </section>
