<div class="row">
    <div class="col-12">
      
      <!-- card -->
      <div class="card card-transparent">
        <!-- header -->
        <div class="card-header card-header-tabs card-header-primary">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <span class="nav-tabs-title">Highlights</span>
            </div>
          </div>
        </div>
        <!-- ./header -->
        <!-- body -->
        <div class="card-body">
          <!-- tab-content -->
          <div class="tab-content">
            <div class="row justify-content-center">
              <div class="col-10">
                <app-sponsors-create></app-sponsors-create>
                <app-sponsors-list></app-sponsors-list>
              </div>
            </div>
          </div>
          <!-- ./tab-content -->
        </div>
        <!-- ./body -->
      </div>
      <!-- ./card -->
  
    </div>
  </div>